@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "chillax";
  src: url("https://assets.website-files.com/63cffb7c16ab3347fc9734c8/63cffc0a3942456e003bc265_Chillax-Regular.woff");
}
@font-face {
  font-family: "Satoshi";
  src: url("https://assets.website-files.com/63cffb7c16ab3347fc9734c8/63cffc20aa8997095067596f_Satoshi-Light.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #121212;
  color: #e8e6e1;
}

.text-meta {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  font-family: "Roboto", sans-serif;
  margin-bottom: 64px;
}

main {
  width: 100%;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: auto;
}
main .view1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  grid-row-gap: 1rem;
}
main .view1 .top {
  width: 100%;
}
main .view1 .top img {
  width: 100%;
  border-radius: 10px;
}
main .view1 .bottom {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view1 .bottom .text h1 {
  font-weight: 200;
  font-size: 36px;
  text-transform: uppercase;
  font-family: "chillax";
  margin-bottom: 8px;
}
main .view1 .bottom .text p {
  font-weight: 300;
  font-size: 20px;
  opacity: 0.6;
  line-height: 1.5;
  font-family: "Satoshi", sans-serif;
  margin-bottom: 20px;
  word-spacing: 2px;
}
main .view1 .bottom .text .btn {
  display: flex;
  gap: 10px;
  align-items: center;
}
main .view1 .bottom .text .btn .icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .view1 .bottom .text .btn .icon i {
  opacity: 0.6;
  font-size: 20px;
}
main .view1 .bottom .text .btn button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  background-color: transparent;
  color: #f7f7f7;
  opacity: 0.9;
  margin: 0;
}
main .stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding-block: 2rem;
  padding-inline: 4rem;
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;
  gap: 30px;
}
main .stats-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .stats-grid div p,
main .stats-grid div h1 {
  text-transform: uppercase;
}
main .stats-grid div .text-meta {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  line-height: 160%;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  margin-bottom: 0px;
}
main .stats-grid div h1 {
  font-size: 36px;
  font-family: "chillax";
  font-weight: 400;
}
main .section-studio-philosphy {
  width: 100%;
}
main .section-studio-philosphy .section-studio-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  grid-row-gap: 1rem;
}
main .section-studio-philosphy .section-studio-grid .top {
  width: 100%;
}
main .section-studio-philosphy .section-studio-grid .top img {
  width: 100%;
  border-radius: 10px;
}
main .section-studio-philosphy .section-studio-grid .section-studio-grid-description {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text h1 {
  font-weight: 200;
  font-size: 36px;
  text-transform: uppercase;
  font-family: "chillax";
  margin-bottom: 8px;
  width: 100%;
  max-width: 37.5rem;
}
main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text p {
  font-weight: 300;
  font-size: 20px;
  opacity: 0.6;
  line-height: 1.5;
  font-family: "Satoshi", sans-serif;
  margin-bottom: 20px;
  word-spacing: 2px;
}

@media screen and (min-width: 767px) {
  main .view1 .bottom .text h1 {
    font-size: 50px;
  }
  main .view1 .bottom .text p {
    width: 100%;
    max-width: 600px;
  }
  main .stats-grid div h1 {
    font-size: 44px;
  }
  main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text h1 {
    font-size: 44px;
  }
  main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text p {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media screen and (min-width: 991px) {
  main .view1 .bottom .text h1 {
    font-size: 66px;
  }
  main .view1 .bottom .text p {
    width: 100%;
    max-width: 600px;
  }
  main .stats-grid div h1 {
    font-size: 56px;
  }
}
@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: 1fr;
  }
  main .view1 {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  main .view1 .top img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 100%;
  }
  main .view1 .bottom {
    padding: 50px;
  }
  main .view1 .bottom .text-meta {
    margin-bottom: 12rem;
  }
  main .view1 .bottom .text h1 {
    font-size: 60px;
  }
  main .stats-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  main .stats-grid div h1 {
    font-size: 46px;
  }
  main .section-studio-philosphy .section-studio-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  main .section-studio-philosphy .section-studio-grid .top {
    order: 2;
  }
  main .section-studio-philosphy .section-studio-grid .top img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  main .section-studio-philosphy .section-studio-grid .section-studio-grid-description {
    order: 1;
  }
  main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text h1 {
    font-size: 44px;
  }
  main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text p {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}/*# sourceMappingURL=style.css.map */