@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
	font-family: "chillax";
	src: url("https://assets.website-files.com/63cffb7c16ab3347fc9734c8/63cffc0a3942456e003bc265_Chillax-Regular.woff");
}

@font-face {
	font-family: "Satoshi";
	src: url("https://assets.website-files.com/63cffb7c16ab3347fc9734c8/63cffc20aa8997095067596f_Satoshi-Light.woff");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #121212;
	color: #e8e6e1;
}

h1 {
	font-weight: 200;
	font-size: 36px;
	text-transform: uppercase;
	font-family: "chillax";
}
a {
	text-decoration: none;
	color: #f7f7f7;
	opacity: 0.8;
	font-family: "chillax";
	text-transform: uppercase;
}

li {
	list-style: none;
}

.text-meta {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	line-height: 160%;
	font-family: "Roboto", sans-serif;
	margin-bottom: 64px;
}

.btn,
button {
	cursor: pointer;
}

.icon:hover,
a:hover {
	border-color: #f7f7f7 !important;
}

span {
	cursor: pointer !important;
}

ul>li:hover{
	background-color: rgba(255, 255, 255, .1) !important;
}

ul>button:hover{
	background-color: #ad9d49 !important;
}

main {
	width: 100%;
	max-width: 1600px;
	display: grid;
	grid-template-columns: 1fr;
	margin-inline: auto;

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		padding-bottom: 0;

		.logo {
			font-family: "chillax";
			font-size: 20px;
			font-weight: 100;
			color: #f7f7f7;
			text-transform: uppercase;
		}
		.right-part {
			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;
				li {
					padding: 16px 20px;
					background-color: #1e1e1e;
					border-radius: 10px;
					letter-spacing: 1px;
					color: #f7f7f7;
					font-size: 14px;
					a {
						opacity: 1;
						display: flex;
						gap: 10px;
						span{
							display: inline-block;
							background-color: #cebd63;
							color: #1e1e1e;
							border-radius: 50%;
							height: 20px;
							width: 20px;
							text-align: center;
							font-weight: 800;
						}
					}
				}
				button {
					padding: 16px 20px;
					font-family: "Roboto", sans-serif;
					font-size: 15px;
					text-transform: uppercase;
					letter-spacing: 1px;
					border-radius: 10px;
					background-color: #cebd63;
					border: none;
					color: #1e1e1e;
				}
			}
		}
	}

	.view1 {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		padding: 1rem;
		grid-row-gap: 1rem;

		.top {
			width: 100%;
			img {
				width: 100%;
				border-radius: 10px;
			}
		}

		.bottom {
			background-color: #1e1e1e;
			border-radius: 10px;
			padding: 28px;
			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			.text {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				h1 {
					font-weight: 200;
					font-size: 36px;
					text-transform: uppercase;
					font-family: "chillax";
					margin-bottom: 8px;
				}

				p {
					font-weight: 300;
					font-size: 20px;
					opacity: 0.6;
					line-height: 1.5;
					font-family: "Satoshi", sans-serif;
					margin-bottom: 20px;
					word-spacing: 2px;
				}

				.btn {
					display: flex;
					gap: 10px;
					align-items: center;

					.icon {
						height: 40px;
						width: 40px;
						border-radius: 50%;
						border: 1px solid gray;
						display: flex;
						justify-content: center;
						align-items: center;

						i {
							opacity: 0.6;
							font-size: 20px;
						}
					}

					button {
						width: fit-content;
						border: none;
						outline: none;
						padding: 0.7rem 1rem;
						border-radius: 0.7rem;
						background-color: transparent;
						color: #f7f7f7;
						opacity: 0.9;
						margin: 0;
					}
				}
			}
		}
	}

	.stats-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		padding-block: 2rem;
		padding-inline: 4rem;
		max-width: 1400px;
		width: 100%;
		margin-inline: auto;
		gap: 30px;

		div {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			p,
			h1 {
				text-transform: uppercase;
			}

			.text-meta {
				letter-spacing: 2px;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 300;
				line-height: 160%;
				font-family: "Roboto", sans-serif;
				opacity: 0.8;
				margin-bottom: 0px;
			}

			h1 {
				font-size: 36px;
				font-family: "chillax";
				font-weight: 400;
			}
		}
	}

	.section-studio-philosphy,
	.section-studio-vision {
		width: 100%;
		.section-studio-grid {
			display: grid;
			grid-template-columns: 1fr;
			padding: 1rem;
			grid-row-gap: 1rem;

			.top {
				width: 100%;
				img {
					width: 100%;
					border-radius: 10px;
				}
			}

			.section-studio-grid-description {
				background-color: #1e1e1e;
				border-radius: 10px;
				padding: 40px;
				display: flex;
				flex-direction: column;
				gap: 1.5rem;

				.text {
					display: flex;
					flex-direction: column;
					gap: 1rem;

					h1 {
						margin-bottom: 8px;
						width: 100%;
						max-width: 37.5rem;
					}

					p {
						font-weight: 300;
						font-size: 20px;
						opacity: 0.6;
						line-height: 1.5;
						font-family: "Satoshi", sans-serif;
						margin-bottom: 20px;
						word-spacing: 2px;
					}
				}
			}
		}
	}

	.section-studio-team {
		padding: 1rem;
		.padding-block {
			padding-block: 40px;
			.heading-grid {
				padding-inline: 1.5rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 2rem;

				.btn {
					display: flex;
					gap: 10px;
					align-items: center;
					display: none;
					.icon {
						height: 40px;
						width: 40px;
						border-radius: 50%;
						border: 1px solid gray;
						display: flex;
						justify-content: center;
						align-items: center;

						i {
							opacity: 0.6;
							font-size: 20px;
						}
					}

					button {
						width: fit-content;
						border: none;
						outline: none;
						padding: 0.7rem 1rem;
						border-radius: 0.7rem;
						background-color: transparent;
						color: #f7f7f7;
						opacity: 0.9;
						margin: 0;
					}
				}
			}
		}

		.cards {
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: auto;
			gap: 1rem;
			.card {
				width: 100%;
				height: 100%;
				position: relative;
				display: flex;
				justify-content: center;

				.image-noise {
					z-index: 2;
					background-image: url(https://assets-global.website-files.com/63cffb7…/63d0ce6…_noise.png);
					background-position: 0 0;
					background-size: 200px 200px;
					position: absolute;
					top: 0%;
					bottom: 0%;
					left: 0%;
					right: 0%;
				}

				.image-overlay {
					z-index: 1;
					opacity: 0.3;
					background-color: #121212;
					position: absolute;
					top: 0%;
					bottom: 0%;
					left: 0%;
					right: 0%;
				}

				.card-padding {
					padding: 1rem;
					backdrop-filter: blur(2rem);
					background-color: rgba(255, 255, 255, 0.05);
					border: 1px solid rgba(255, 255, 255, 0.1);
					border-radius: 0.25rem;
					transition: background-color 0.5s;
					position: absolute;
					bottom: 1rem;
					right: 1rem;
					left: 1rem;

					.studio-team-content-grid {
						display: flex;
						text-transform: uppercase;
						justify-content: space-between;
						align-items: center;
						color: white;
						gap: 1rem;

						h3 {
							font-size: 20px;
							font-family: "chillax";
							font-weight: 200;
						}
						.text-meta {
							margin-bottom: 0;
							font-size: 14px;
						}
					}
				}

				img {
					width: 100%;
					border-radius: 10px;
				}
				.studio-team-social-media {
					z-index: 999;
					position: absolute;
					top: 10%;
					right: 10%;
					.subnav {
						display: flex;
						gap: 0.5rem;
						a {
							display: flex;
							justify-content: center;
							align-items: center;
							height: 40px;
							width: 40px;
							border-radius: 50%;
							background-color: rgba(255, 255, 255, 0.05);
							border: 1px solid rgba(255, 255, 255, 0.15);
							backdrop-filter: blur(2rem);
							i {
								color: #f7f7f7;
								font-size: 20px;
							}
						}
					}
				}
			}
		}
	}

	.section-join-team {
		.section-studio-grid {
			padding: 0 1rem 1rem 1rem;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			gap: 1rem;
			.top {
				width: 100%;
				img {
					width: 100%;
					border-radius: 10px;
				}
			}

			.bottom {
				background-color: #1e1e1e;
				border-radius: 10px;
				padding: 28px;
				display: flex;
				flex-direction: column;
				gap: 1.5rem;

				.section-studio-grid-description {
					margin-bottom: 4rem;
					.text-meta {
						margin-bottom: 0.5rem;
						opacity: 0.8;
					}
					h2 {
						font-weight: 200;
						font-size: 36px;
						text-transform: uppercase;
						font-family: "chillax";
					}
				}

				.btn {
					display: flex;
					gap: 10px;
					align-items: center;

					.icon {
						height: 40px;
						width: 40px;
						border-radius: 50%;
						border: 1px solid gray;
						display: flex;
						justify-content: center;
						align-items: center;

						i {
							opacity: 0.6;
							font-size: 20px;
						}
					}

					button {
						width: fit-content;
						border: none;
						outline: none;
						padding: 0.7rem 1rem;
						border-radius: 0.7rem;
						background-color: transparent;
						color: #f7f7f7;
						opacity: 0.9;
						margin: 0;
					}
				}
			}
		}
	}

	.section-getintouch {
		padding: 1rem;
		.getintouch {
			background-color: #cebd63;
			color: #121212;
			padding: 48px;
			border-radius: 10px;
			display: grid;
			grid-template-columns: 1fr;
			gap: 1rem;

			.part1 {
				.text-meta {
					margin-bottom: 0px;
					font-size: 14px;
				}
				h2 {
					font-size: 40px;
					text-transform: uppercase;
					font-family: "chillax";
					font-weight: 500;
				}
			}

			.part2 {
				button {
					padding: 1rem 1.25rem;
					font-size: 16px;
					background-color: #121212;
					color: #f7f7f7;
					border: none;
					border-radius: 5px;
					width: 100%;
					text-transform: capitalize;
					font-family: "Roboto", sans-serif;
					letter-spacing: 1px;
				}
			}
		}
	}

	.footer {
		padding: 1rem;
		margin-top: -1rem;
		.footer-grid {
			display: grid;
			grid-template-columns: 1fr;
			gap: 1rem;

			aside,
			main,
			footer {
				padding: 40px;
				border-radius: 10px;
			}

			aside {
				background-color: #1e1e1e;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.margin-bottom {
					margin-bottom: 4rem;
					a {
						font-family: "chillax";
						font-size: 20px;
						font-weight: 100;
						color: #f7f7f7;
						text-transform: uppercase;
					}
				}
				.studio-team-social-media {
					.subnav {
						display: flex;
						gap: 0.5rem;
						a {
							display: flex;
							justify-content: center;
							align-items: center;
							height: 40px;
							width: 40px;
							border-radius: 50%;
							background-color: rgba(255, 255, 255, 0.05);
							border: 1px solid rgba(255, 255, 255, 0.15);
							backdrop-filter: blur(2rem);
							i {
								color: #f7f7f7;
								font-size: 20px;
							}
						}
					}
				}
			}

			main {
				background-color: #1e1e1e;
				.footer-top-grid {
					display: grid;
					grid-template-columns: 1fr;
					grid-template-rows: auto;
					gap: 3rem;
					.footer-column {
						display: flex;
						flex-direction: column;

						.footer-column-heading {
							margin-bottom: 2rem;
							h3 {
								font-family: "chillax";
								font-weight: 500;
								font-size: 20px;
								text-transform: uppercase;
								letter-spacing: 1px;
							}
						}
						.footer-nav {
							display: flex;
							flex-direction: column;
							gap: 1.5rem;
							a {
								font-size: 14px;
								color: rgba(255, 255, 255, 0.6);
							}
						}
						.footer-button {
							margin-top: 2rem;
							button {
								padding: 16px 20px;
								font-family: "Roboto", sans-serif;
								font-size: 14px;
								text-transform: uppercase;
								letter-spacing: 1px;
								border-radius: 10px;
								background-color: #cebd63;
								border: none;
								color: #1e1e1e;
							}
						}
					}
				}
			}

			footer {
				background-color: #1e1e1e;

				.footer-bottom {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					gap: 1rem;

					.footer-bottom-left {
						letter-spacing: 1px;
						font-family: "Roboto", sans-serif;
						text-transform: uppercase;
						word-spacing: 1px;
						color: rgba(255, 255, 255, 0.6);
						font-size: 14px;
						span {
							color: rgba(255, 255, 255, 1);
							text-decoration: underline;
						}
					}

					.footer-bottom-right {
						display: flex;
						align-items: center;
						text-transform: uppercase;
						font-family: "Roboto", sans-serif;
						font-size: 14px;
						gap: 1rem;

						.btn {
							.icon {
								height: 40px;
								width: 40px;
								border-radius: 50%;
								background-color: rgba(255, 255, 255, 0.05);
								border: 1px solid rgba(255, 255, 255, 0.15);
								backdrop-filter: blur(2rem);
								display: flex;
								justify-content: center;
								align-items: center;

								i {
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 480px) {
	main {
		.footer {
			.footer-grid {
				main {
					.footer-top-grid {
						grid-template-columns: 1fr 1fr;
						grid-template-rows: auto;
						gap: 3rem;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 767px) {
	main {
		.view1 {
			.bottom {
				.text {
					h1 {
						font-size: 50px;
					}

					p {
						width: 100%;
						max-width: 600px;
					}
				}
			}
		}

		.stats-grid {
			div {
				h1 {
					font-size: 44px;
				}
			}
		}

		.section-studio-philosphy,
		.section-studio-vision {
			.section-studio-grid {
				.section-studio-grid-description {
					.text {
						h1 {
							font-size: 44px;
						}

						p {
							column-count: 2;
							column-gap: 2rem;
						}
					}
				}
			}
		}

		.section-studio-team {
			.padding-block {
				.heading-grid {
					.btn {
						display: flex;
					}
				}
			}

			.cards {
				grid-template-columns: 1fr 1fr;
			}
		}

		.section-join-team {
			.section-studio-grid {
				.bottom {
					.section-studio-grid-description {
						h2 {
							font-weight: 200;
							font-size: 2.75rem;
							text-transform: uppercase;
							font-family: "chillax";
							width: 100%;
							max-width: 37.5rem;
						}
					}
				}
			}
		}

		.section-getintouch {
			.getintouch {
				.part1 {
					h2 {
						font-size: 4rem;
						width: 100%;
						max-width: 62.5rem;
					}
				}
			}
		}

		.footer {
			.footer-grid {
				main {
					.footer-top-grid {
						grid-template-columns: 1fr 1fr 1fr;
						grid-template-rows: auto;
						gap: 3rem;
					}
				}

				footer {
					.footer-bottom {
						flex-direction: row;
						justify-content: space-between;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 991px) {
	main {
		.view1 {
			grid-template-columns: 1fr 1fr;
			column-gap: 20px;

			.top {
				img {
					object-fit: cover;
					object-position: center;
					height: 100%;
				}
			}

			.bottom {
				.text {
					h1 {
						font-size: 66px;
					}

					p {
						width: 100%;
						max-width: 600px;
					}
				}
			}
		}

		.stats-grid {
			div {
				h1 {
					font-size: 56px;
				}
			}
		}

		.section-studio-philosphy,
		.section-studio-vision {
			.section-studio-grid {
				grid-template-columns: 1fr 1fr;
				gap: 1rem;

				.top {
					order: 2;
					img {
						height: 100%;
						object-fit: cover;
						object-position: center;
					}
				}

				.section-studio-grid-description {
					order: 1;
					.text {
						h1 {
							font-size: 44px;
						}

						p {
							column-count: 2;
							column-gap: 2rem;
						}
					}
				}
			}
		}

		.section-studio-vision {
			.section-studio-grid {
				margin-top: -1rem;
				.top {
					order: 1;
				}
			}
		}

		.section-studio-team {
			.padding-block {
				.heading-grid {
					.btn {
						display: flex;
					}
				}
			}

			.cards {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

		.section-join-team {
			.section-studio-grid {
				grid-template-columns: 1fr 1fr;

				.bottom {
					display: flex;
					justify-content: space-between;
					.section-studio-grid-description {
						.text-meta {
							font-size: 14px;
						}
						h2 {
							font-size: 32px;
						}
					}

					.btn {
						.icon {
							height: 36px;
							width: 36px;
							i {
								font-size: 14px;
							}
						}
						.text-meta {
							font-size: 14px;
						}
					}
				}
			}
		}

		.section-getintouch {
			.getintouch {
				display: grid;
				grid-template-columns: 1fr auto;
				grid-template-rows: auto;
				grid-column-gap: 2rem;
				grid-row-gap: 2rem;
				grid-auto-columns: 1fr;
				align-items: end;

				.part1 {
					h2 {
						font-size: 55px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	main {
		grid-template-columns: 1fr;

		.view1 {
			grid-template-columns: 1fr 1fr;
			column-gap: 20px;

			.top {
				img {
					object-fit: cover;
					object-position: center;
					height: 100%;
				}
			}

			.bottom {
				padding: 50px;

				.text-meta {
					margin-bottom: 12rem;
				}

				.text {
					h1 {
						font-size: 60px;
					}
				}
			}
		}

		.stats-grid {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: auto;
			div {
				h1 {
					font-size: 46px;
				}
			}
		}

		.section-studio-philosphy,
		.section-studio-vision {
			.section-studio-grid {
				grid-template-columns: 1fr 1fr;
				gap: 1rem;

				.top {
					order: 2;
					img {
						height: 100%;
						object-fit: cover;
						object-position: center;
					}
				}

				.section-studio-grid-description {
					order: 1;
					.text {
						h1 {
							font-size: 44px;
						}

						p {
							column-count: 2;
							column-gap: 2rem;
						}
					}
				}
			}
		}

		.section-studio-vision {
			.section-studio-grid {
				margin-top: -1rem;
				.top {
					order: 1;
				}
			}
		}

		.section-studio-team {
			.padding-block {
				.heading-grid {
					.btn {
						display: flex;
					}
				}
			}

			.cards {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

		.section-join-team {
			.section-studio-grid {
				grid-template-columns: 1fr 1fr;
				.bottom {
					display: flex;
					justify-content: space-between;
					.section-studio-grid-description {
						h2 {
							font-size: 34px;
						}
					}
				}
			}
		}

		.section-getintouch {
			.getintouch {
				.part1 {
					h2 {
						width: 100%;
						max-width: 61.5rem;
						font-family: Chillax, sans-serif;
						font-size: 75px;
						font-weight: 400;
						line-height: 100%;
					}
				}
			}
		}

		.footer {
			.footer-grid {
				grid-template-columns: 0.25fr 1fr;
				grid-template-rows: 1fr 0.25fr;
				grid-auto-columns: 1fr;
				grid-template-areas:
					"aside main"
					"aside footer";
				gap: 1rem;

				aside {
					grid-area: aside;
					.margin-bottom {
						margin-bottom: 12rem;
					}
				}

				main {
					grid-area: main;
					.footer-top-grid {
						grid-template-columns: repeat(3, 1fr);
						grid-template-rows: auto;
					}
				}

				footer {
					grid-area: footer;
					.footer-bottom {
						justify-content: space-between;
					}
				}
			}
		}
	}
}
