@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "chillax";
  src: url("https://assets.website-files.com/63cffb7c16ab3347fc9734c8/63cffc0a3942456e003bc265_Chillax-Regular.woff");
}
@font-face {
  font-family: "Satoshi";
  src: url("https://assets.website-files.com/63cffb7c16ab3347fc9734c8/63cffc20aa8997095067596f_Satoshi-Light.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #121212;
  color: #e8e6e1;
}

h1 {
  font-weight: 200;
  font-size: 36px;
  text-transform: uppercase;
  font-family: "chillax";
}

a {
  text-decoration: none;
  color: #f7f7f7;
  opacity: 0.8;
  font-family: "chillax";
  text-transform: uppercase;
}

li {
  list-style: none;
}

.text-meta {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  font-family: "Roboto", sans-serif;
  margin-bottom: 64px;
}

.btn,
button {
  cursor: pointer;
}

a {
  transition: all 0.3s ease-in;
}

.icon:hover,
a:hover {
  border-color: #f7f7f7 !important;
}

a:hover {
  color: white !important;
}

span {
  cursor: pointer !important;
}

ul > li:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

ul > button:hover {
  background-color: #ad9d49 !important;
}

.btn .icon {
  position: relative;
  overflow: hidden;
}
.btn .icon i {
  position: absolute;
}
.btn .icon .arrow-1-from-top {
  top: -60%;
}
.btn .icon .arrow-2-from-top {
  top: 50%;
  transform: translateY(-50%);
}
.btn .icon .arrow-1-from-bottom {
  top: 50%;
  transform: translateY(-50%);
}
.btn .icon .arrow-2-from-bottom {
  top: 110%;
}
.btn .icon .arrow-1-top-right {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn .icon .arrow-2-top-right {
  top: 83%;
  left: -58%;
}

.btn:hover i.arrow-1-from-top {
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s ease 0.5s;
}

.btn:hover i.arrow-2-from-top {
  top: 150%;
  transition: all 0.4s ease 0s;
}

.btn:hover i.arrow-2-top-right {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease 0.5s;
}

.btn:hover i.arrow-1-top-right {
  top: -45%;
  left: 150%;
  transition: all 0.4s ease 0s;
}

.footer-bottom-right:hover i.arrow-1-from-bottom {
  top: -50%;
  transition: all 0.4s ease 0s;
}

.footer-bottom-right:hover i.arrow-2-from-bottom {
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s ease 0.5s;
}

main {
  width: 100%;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: auto;
}
main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
}
main nav .logo {
  font-family: "chillax";
  font-size: 20px;
  font-weight: 100;
  color: #f7f7f7;
  text-transform: uppercase;
}
main nav .right-part ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
main nav .right-part ul li {
  padding: 16px 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  letter-spacing: 1px;
  color: #f7f7f7;
  font-size: 14px;
}
main nav .right-part ul li a {
  opacity: 1;
  display: flex;
  gap: 10px;
}
main nav .right-part ul li a span {
  display: inline-block;
  background-color: #cebd63;
  color: #1e1e1e;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  font-weight: 800;
}
main nav .right-part ul button {
  padding: 16px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px;
  background-color: #cebd63;
  border: none;
  color: #1e1e1e;
}
main .view1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  grid-row-gap: 1rem;
}
main .view1 .top {
  width: 100%;
}
main .view1 .top img {
  width: 100%;
  border-radius: 10px;
}
main .view1 .bottom {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view1 .bottom .text h1 {
  font-weight: 200;
  font-size: 36px;
  text-transform: uppercase;
  font-family: "chillax";
  margin-bottom: 8px;
}
main .view1 .bottom .text p {
  font-weight: 300;
  font-size: 20px;
  opacity: 0.6;
  line-height: 1.5;
  font-family: "Satoshi", sans-serif;
  margin-bottom: 20px;
  word-spacing: 2px;
}
main .view1 .bottom .text .btn {
  display: flex;
  gap: 10px;
  align-items: center;
}
main .view1 .bottom .text .btn .icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .view1 .bottom .text .btn .icon i {
  font-size: 20px;
  opacity: 0.6;
}
main .view1 .bottom .text .btn button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  background-color: transparent;
  color: #f7f7f7;
  opacity: 0.9;
  margin: 0;
}
main .stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding-block: 2rem;
  padding-inline: 4rem;
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;
  gap: 30px;
}
main .stats-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .stats-grid div p,
main .stats-grid div h1 {
  text-transform: uppercase;
}
main .stats-grid div .text-meta {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  line-height: 160%;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  margin-bottom: 0px;
}
main .stats-grid div h1 {
  font-size: 36px;
  font-family: "chillax";
  font-weight: 400;
}
main .section-studio-philosphy,
main .section-studio-vision {
  width: 100%;
}
main .section-studio-philosphy .section-studio-grid,
main .section-studio-vision .section-studio-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  grid-row-gap: 1rem;
}
main .section-studio-philosphy .section-studio-grid .top,
main .section-studio-vision .section-studio-grid .top {
  width: 100%;
}
main .section-studio-philosphy .section-studio-grid .top img,
main .section-studio-vision .section-studio-grid .top img {
  width: 100%;
  border-radius: 10px;
}
main .section-studio-philosphy .section-studio-grid .section-studio-grid-description,
main .section-studio-vision .section-studio-grid .section-studio-grid-description {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text,
main .section-studio-vision .section-studio-grid .section-studio-grid-description .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text h1,
main .section-studio-vision .section-studio-grid .section-studio-grid-description .text h1 {
  margin-bottom: 8px;
  width: 100%;
  max-width: 37.5rem;
}
main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text p,
main .section-studio-vision .section-studio-grid .section-studio-grid-description .text p {
  font-weight: 300;
  font-size: 20px;
  opacity: 0.6;
  line-height: 1.5;
  font-family: "Satoshi", sans-serif;
  margin-bottom: 20px;
  word-spacing: 2px;
}
main .section-studio-team {
  padding: 1rem;
}
main .section-studio-team .padding-block {
  padding-block: 40px;
}
main .section-studio-team .padding-block .heading-grid {
  padding-inline: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
main .section-studio-team .padding-block .heading-grid .btn {
  display: flex;
  gap: 10px;
  align-items: center;
  display: none;
}
main .section-studio-team .padding-block .heading-grid .btn .icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .section-studio-team .padding-block .heading-grid .btn .icon i {
  opacity: 0.6;
  font-size: 20px;
}
main .section-studio-team .padding-block .heading-grid .btn button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  background-color: transparent;
  color: #f7f7f7;
  opacity: 0.9;
  margin: 0;
}
main .section-studio-team .cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 1rem;
}
main .section-studio-team .cards .card {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
main .section-studio-team .cards .card .image-noise {
  z-index: 2;
  background-image: url(https://assets-global.website-files.com/63cffb7…/63d0ce6…_noise.png);
  background-position: 0 0;
  background-size: 200px 200px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
main .section-studio-team .cards .card .image-overlay {
  z-index: 1;
  opacity: 0.3;
  background-color: #121212;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
main .section-studio-team .cards .card .card-padding {
  padding: 1rem;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  transition: background-color 0.5s;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
}
main .section-studio-team .cards .card .card-padding .studio-team-content-grid {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 1rem;
}
main .section-studio-team .cards .card .card-padding .studio-team-content-grid h3 {
  font-size: 20px;
  font-family: "chillax";
  font-weight: 200;
}
main .section-studio-team .cards .card .card-padding .studio-team-content-grid .text-meta {
  margin-bottom: 0;
  font-size: 14px;
}
main .section-studio-team .cards .card img {
  width: 100%;
  border-radius: 10px;
}
main .section-studio-team .cards .card .studio-team-social-media {
  z-index: 999;
  position: absolute;
  top: 10%;
  right: 10%;
}
main .section-studio-team .cards .card .studio-team-social-media .subnav {
  display: flex;
  gap: 0.5rem;
}
main .section-studio-team .cards .card .studio-team-social-media .subnav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
}
main .section-studio-team .cards .card .studio-team-social-media .subnav a i {
  color: #f7f7f7;
  font-size: 20px;
}
main .section-join-team .section-studio-grid {
  padding: 0 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}
main .section-join-team .section-studio-grid .top {
  width: 100%;
}
main .section-join-team .section-studio-grid .top img {
  width: 100%;
  border-radius: 10px;
}
main .section-join-team .section-studio-grid .bottom {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .section-join-team .section-studio-grid .bottom .section-studio-grid-description {
  margin-bottom: 4rem;
}
main .section-join-team .section-studio-grid .bottom .section-studio-grid-description .text-meta {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}
main .section-join-team .section-studio-grid .bottom .section-studio-grid-description h2 {
  font-weight: 200;
  font-size: 36px;
  text-transform: uppercase;
  font-family: "chillax";
}
main .section-join-team .section-studio-grid .bottom .btn {
  display: flex;
  gap: 10px;
  align-items: center;
}
main .section-join-team .section-studio-grid .bottom .btn .icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .section-join-team .section-studio-grid .bottom .btn .icon i {
  opacity: 0.6;
  font-size: 20px;
}
main .section-join-team .section-studio-grid .bottom .btn button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  background-color: transparent;
  color: #f7f7f7;
  opacity: 0.9;
  margin: 0;
}
main .section-getintouch {
  padding: 1rem;
}
main .section-getintouch .getintouch {
  background-color: #cebd63;
  color: #121212;
  padding: 48px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
main .section-getintouch .getintouch .part1 .text-meta {
  margin-bottom: 0px;
  font-size: 14px;
}
main .section-getintouch .getintouch .part1 h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: "chillax";
  font-weight: 500;
}
main .section-getintouch .getintouch .part2 button {
  padding: 1rem 1.25rem;
  font-size: 16px;
  background-color: #121212;
  color: #f7f7f7;
  border: none;
  border-radius: 5px;
  width: 100%;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
main .footer {
  padding: 1rem;
  margin-top: -1rem;
}
main .footer .footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
main .footer .footer-grid aside,
main .footer .footer-grid main,
main .footer .footer-grid footer {
  padding: 40px;
  border-radius: 10px;
}
main .footer .footer-grid aside {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .footer .footer-grid aside .margin-bottom {
  margin-bottom: 4rem;
}
main .footer .footer-grid aside .margin-bottom a {
  font-family: "chillax";
  font-size: 20px;
  font-weight: 100;
  color: #f7f7f7;
  text-transform: uppercase;
}
main .footer .footer-grid aside .studio-team-social-media .subnav {
  display: flex;
  gap: 0.5rem;
}
main .footer .footer-grid aside .studio-team-social-media .subnav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
}
main .footer .footer-grid aside .studio-team-social-media .subnav a i {
  color: #f7f7f7;
  font-size: 20px;
}
main .footer .footer-grid main {
  background-color: #1e1e1e;
}
main .footer .footer-grid main .footer-top-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3rem;
}
main .footer .footer-grid main .footer-top-grid .footer-column {
  display: flex;
  flex-direction: column;
}
main .footer .footer-grid main .footer-top-grid .footer-column .footer-column-heading {
  margin-bottom: 2rem;
}
main .footer .footer-grid main .footer-top-grid .footer-column .footer-column-heading h3 {
  font-family: "chillax";
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
main .footer .footer-grid main .footer-top-grid .footer-column .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .footer .footer-grid main .footer-top-grid .footer-column .footer-nav a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
main .footer .footer-grid main .footer-top-grid .footer-column .footer-nav a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  top: 100%;
  background-color: white;
  color: white;
  transition: width 0.3s linear;
}
main .footer .footer-grid main .footer-top-grid .footer-column .footer-nav a:hover::before {
  width: 100%;
}
main .footer .footer-grid main .footer-top-grid .footer-column .footer-button {
  margin-top: 2rem;
}
main .footer .footer-grid main .footer-top-grid .footer-column .footer-button button {
  padding: 16px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px;
  background-color: #cebd63;
  border: none;
  color: #1e1e1e;
}
main .footer .footer-grid footer {
  background-color: #1e1e1e;
}
main .footer .footer-grid footer .footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
main .footer .footer-grid footer .footer-bottom .footer-bottom-left {
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  word-spacing: 1px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
main .footer .footer-grid footer .footer-bottom .footer-bottom-left span {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
main .footer .footer-grid footer .footer-bottom .footer-bottom-right {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  gap: 1rem;
  cursor: pointer;
}
main .footer .footer-grid footer .footer-bottom .footer-bottom-right .btn .icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .footer .footer-grid footer .footer-bottom .footer-bottom-right .btn .icon i {
  font-size: 20px;
  opacity: 0.8;
}

@media screen and (min-width: 480px) {
  main .footer .footer-grid main .footer-top-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 3rem;
  }
}
@media screen and (min-width: 767px) {
  main .view1 .bottom .text h1 {
    font-size: 50px;
  }
  main .view1 .bottom .text p {
    width: 100%;
    max-width: 600px;
  }
  main .stats-grid div h1 {
    font-size: 44px;
  }
  main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text h1,
  main .section-studio-vision .section-studio-grid .section-studio-grid-description .text h1 {
    font-size: 44px;
  }
  main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text p,
  main .section-studio-vision .section-studio-grid .section-studio-grid-description .text p {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  main .section-studio-team .padding-block .heading-grid .btn {
    display: flex;
  }
  main .section-studio-team .cards {
    grid-template-columns: 1fr 1fr;
  }
  main .section-join-team .section-studio-grid .bottom .section-studio-grid-description h2 {
    font-weight: 200;
    font-size: 2.75rem;
    text-transform: uppercase;
    font-family: "chillax";
    width: 100%;
    max-width: 37.5rem;
  }
  main .section-getintouch .getintouch .part1 h2 {
    font-size: 4rem;
    width: 100%;
    max-width: 62.5rem;
  }
  main .footer .footer-grid main .footer-top-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 3rem;
  }
  main .footer .footer-grid footer .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 991px) {
  main .view1 {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  main .view1 .top img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 100%;
  }
  main .view1 .bottom .text h1 {
    font-size: 66px;
  }
  main .view1 .bottom .text p {
    width: 100%;
    max-width: 600px;
  }
  main .stats-grid div h1 {
    font-size: 56px;
  }
  main .section-studio-philosphy .section-studio-grid,
  main .section-studio-vision .section-studio-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  main .section-studio-philosphy .section-studio-grid .top,
  main .section-studio-vision .section-studio-grid .top {
    order: 2;
  }
  main .section-studio-philosphy .section-studio-grid .top img,
  main .section-studio-vision .section-studio-grid .top img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  main .section-studio-philosphy .section-studio-grid .section-studio-grid-description,
  main .section-studio-vision .section-studio-grid .section-studio-grid-description {
    order: 1;
  }
  main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text h1,
  main .section-studio-vision .section-studio-grid .section-studio-grid-description .text h1 {
    font-size: 44px;
  }
  main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text p,
  main .section-studio-vision .section-studio-grid .section-studio-grid-description .text p {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  main .section-studio-vision .section-studio-grid {
    margin-top: -1rem;
  }
  main .section-studio-vision .section-studio-grid .top {
    order: 1;
  }
  main .section-studio-team .padding-block .heading-grid .btn {
    display: flex;
  }
  main .section-studio-team .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  main .section-join-team .section-studio-grid {
    grid-template-columns: 1fr 1fr;
  }
  main .section-join-team .section-studio-grid .bottom {
    display: flex;
    justify-content: space-between;
  }
  main .section-join-team .section-studio-grid .bottom .section-studio-grid-description .text-meta {
    font-size: 14px;
  }
  main .section-join-team .section-studio-grid .bottom .section-studio-grid-description h2 {
    font-size: 32px;
  }
  main .section-join-team .section-studio-grid .bottom .btn .icon {
    height: 36px;
    width: 36px;
  }
  main .section-join-team .section-studio-grid .bottom .btn .icon i {
    font-size: 20px;
  }
  main .section-join-team .section-studio-grid .bottom .btn .text-meta {
    font-size: 14px;
  }
  main .section-getintouch .getintouch {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-auto-columns: 1fr;
    align-items: end;
  }
  main .section-getintouch .getintouch .part1 h2 {
    font-size: 55px;
  }
}
@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: 1fr;
  }
  main .view1 {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  main .view1 .top img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 100%;
  }
  main .view1 .bottom {
    padding: 50px;
  }
  main .view1 .bottom .text-meta {
    margin-bottom: 12rem;
  }
  main .view1 .bottom .text h1 {
    font-size: 60px;
  }
  main .stats-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  main .stats-grid div h1 {
    font-size: 46px;
  }
  main .section-studio-philosphy .section-studio-grid,
  main .section-studio-vision .section-studio-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  main .section-studio-philosphy .section-studio-grid .top,
  main .section-studio-vision .section-studio-grid .top {
    order: 2;
  }
  main .section-studio-philosphy .section-studio-grid .top img,
  main .section-studio-vision .section-studio-grid .top img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  main .section-studio-philosphy .section-studio-grid .section-studio-grid-description,
  main .section-studio-vision .section-studio-grid .section-studio-grid-description {
    order: 1;
  }
  main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text h1,
  main .section-studio-vision .section-studio-grid .section-studio-grid-description .text h1 {
    font-size: 44px;
  }
  main .section-studio-philosphy .section-studio-grid .section-studio-grid-description .text p,
  main .section-studio-vision .section-studio-grid .section-studio-grid-description .text p {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  main .section-studio-vision .section-studio-grid {
    margin-top: -1rem;
  }
  main .section-studio-vision .section-studio-grid .top {
    order: 1;
  }
  main .section-studio-team .padding-block .heading-grid .btn {
    display: flex;
  }
  main .section-studio-team .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  main .section-join-team .section-studio-grid {
    grid-template-columns: 1fr 1fr;
  }
  main .section-join-team .section-studio-grid .bottom {
    display: flex;
    justify-content: space-between;
  }
  main .section-join-team .section-studio-grid .bottom .section-studio-grid-description h2 {
    font-size: 34px;
  }
  main .section-getintouch .getintouch .part1 h2 {
    width: 100%;
    max-width: 61.5rem;
    font-family: Chillax, sans-serif;
    font-size: 75px;
    font-weight: 400;
    line-height: 100%;
  }
  main .footer .footer-grid {
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 1fr 0.25fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "aside main" "aside footer";
    gap: 1rem;
  }
  main .footer .footer-grid aside {
    grid-area: aside;
  }
  main .footer .footer-grid aside .margin-bottom {
    margin-bottom: 12rem;
  }
  main .footer .footer-grid main {
    grid-area: main;
  }
  main .footer .footer-grid main .footer-top-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  main .footer .footer-grid footer {
    grid-area: footer;
  }
  main .footer .footer-grid footer .footer-bottom {
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */